body { background: #f0ad2a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-metrics-0 { color: #c327de; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #98a64d; font-size: 17px; margin-bottom: 5px; }
.block-shipping-2 { color: #207146; font-size: 16px; margin-bottom: 5px; }
.block-config-3 { color: #54c29c; font-size: 15px; margin-bottom: 5px; }
.block-uploader-4 { color: #602295; font-size: 16px; margin-bottom: 5px; }
.block-helper-5 { color: #8460b1; font-size: 17px; margin-bottom: 5px; }
.block-shipping-6 { color: #535859; font-size: 13px; margin-bottom: 5px; }
.block-shipping-7 { color: #ac7be2; font-size: 17px; margin-bottom: 5px; }
.block-payment-8 { color: #58fbf1; font-size: 18px; margin-bottom: 5px; }
.block-session-9 { color: #c6d557; font-size: 12px; margin-bottom: 5px; }
.block-router-10 { color: #1619d9; font-size: 17px; margin-bottom: 5px; }